themes {
    synthwave-84 {
        fg "#ffffff"
        bg "#262335"
        black "#241b2f"
        red "#fe4450"
        green "#72f1b8"
        yellow "#fede5d"
        blue "#03edf9"
        magenta "#ff7edb"
        cyan "#36f9f6"
        white "#ffffff"
        orange "#fe4450"
    }
}
